


.ting {
    margin: 10px;
    text-align: center;

}

.Overskrif{
    display: flex;
    text-align: justify;

}
.alleTing{
    justify-content: space-around;
}

.card-body{
    background-color: rgb(255, 255, 255);
}

.card-footer{
    background-color: rgb(255, 255, 255);
}

.boston figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.boston figure:hover img {
	opacity: .5;
}

img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover {
    opacity: .5;
  }

.RRR{
    margin: 15px;
    text-align: center;
}

.MobilAPP{
    height: auto; 
    max-width: 30%;
}
.MangeTing{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;



}